* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;

}
input, label{
    display: block;
    width: 100%;
}
input:focus , label:focus{
    outline: none;
}

a {
    color: rgb(255, 255, 0);
}
body{
    padding-top: 5vh;
    background-image: url(img/Academia\ com\ Parede\ com\ pintura\ amarela\ e\ equipamentos\ pretos\ _\ Revista\ Viva\ Decora_\ 187746\ -\ Viva\ Decora_auto_x2_auto_x2.jpg);
    background-size: cover;
    background-position-y: -150px;
}
#main-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}
#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem; 

}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.full-box{
    flex: 1 1 100%;
    position: relative;
    
}
.half-box{
    flex: 1 1 45%;
}    
.spacing{
    margin-right:2.5%;
}
label{
    font-weight: bold ;
    font-size: .8rem;
    
}
input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
    background-color: #f0f0f0;
    border-radius: 15px;
}
input:focus{
    border-color: rgb(255, 255, 0) ;
    border-width: 3px;
}
input[type="submit"]{
    background-color: rgb(255, 255, 0) ;
    color: #323232;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

/*validações*/

.error-validation{
    color: red;
    position: absolute;
    top: 57px;
    font-size: .8rem;

}
.template{
    display: none;
}
#select-day, #select-week, #select-mounth , #select-masc, #select-fem{
    width: 5px;
    
    
    
}

#select-day ,#select-week, #select-mounth, #select-label, #select-masc, #select-fem{
    display: inline-block;
    width: auto;
    margin-top: 10px;
    

}
.half-box-check{
    flex: auto;
    
}

#dtPessoas{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding:14px;
    margin-top: 25px;

}
table tr td{
    width: 140px;
    text-align: center;
}